@model IEnumerable<EntityFrameworkMVC.Models.Product>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/_Layout.cshtml";
}

<h1>EF & Ninject & Customer/Order/Product Demo</h1>
<a href="/Customer">Customers</a>
<a href="/Order">Orders</a>
<a href="/Product">Products</a>
